body {
  background-color: #9cbed5;
  font-family: "M PLUS Rounded 1c", sans-serif;
  padding-top: 55px;
}

.todoAppWrapper {
  max-width: 530px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 17px 7px 15px -6px #777777;
  border-radius: 10px;
}

a {
  color: #595959;
  text-decoration: none;
}

.header {
  text-align: center;
  padding: 20px 0;
  background: rgb(9, 71, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 71, 121, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 10px 10px 0 0;
  color: white;
}

.taskWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid rgb(53, 52, 52);
}
